* {
  box-sizing: border-box;
}

body {
  background-color: rgb(219, 219, 219);
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0px;

}

.panel {
  background-color: rgb(228, 228, 228);
  border: 1px solid black;
  height: 130px;
  padding: 0 21px;
}

.calculationInput {
  font-size: 3.5rem;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: right;
}

.calculationResult {
  font-size: 2.1rem;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: right;
}

.numberPad {
  /* option 1 */
  /* display: flex;
  flex-wrap:wrap; */
  /* option 2 */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  height: 400px;
  margin-top: 10px;
}

button {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}